<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB01tYA9FBffCCVuEfoVjLGChTUx1f3LlM</string>
	<key>GCM_SENDER_ID</key>
	<string>972401022911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7b47c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7b47c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972401022911:ios:5753f220cb9a5b8bf1730a</string>
</dict>
</plist>